{% extends "layout.html" %}

{% block title %}
    Register New User
{% endblock %}

{% block main %}
    <h2>Register New User</h2>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required="true">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required="true">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password" required="true">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
